.download-container {
  background-color: #ddd;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  width: 370px; /* adjust as needed */
  transition: width 0.5s ease-in-out;
}

.download-container:hover {
  width: 450px; /* adjust as needed */
}

.cancel-icon {
  cursor: pointer;
  display: none;
  margin-left: 10px;
}

.download-container:hover .cancel-icon {
  display: inline;
}